<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <title>usuarios</title><meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="e-commerce site well design with responsive view." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../static/https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="../static/css/stylesheet.css" rel="stylesheet">
<link href="../static/css/responsive.css" rel="stylesheet">
<link href="../static/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
<link href="../static/owl-carousel/owl.transitions.css" type="text/css" rel="stylesheet" media="screen" />
<script src="javascript/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="../static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="javascript/jstree.min.js"></script>
<script type="text/javascript" src="javascript/template.js"></script>
<script src="javascript/common.js" type="text/javascript"></script>
<script src="javascript/global.js" type="text/javascript"></script>
<script src="owl-carousel/owl.carousel.min.js" type="text/javascript"></script>



  <!--  <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

     <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
     <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400,500,700}" rel="stylesheet">
     <link th:href="@{/css/stylesheet.css}" rel="stylesheet">
     <link th:href="@{/css/responsive.css}" rel="stylesheet">
     <link th:href="@{/owl-carousel/owl.carousel.css}" type="text/css" rel="stylesheet" media="screen" />
     <link th:href="@{/owl-carousel/owl.transitions.css}" type="text/css" rel="stylesheet" media="screen" />
     <link rel="stylesheet" th:href="@{/bootstrap/css/glyphicons.css}" type="text/css">
     <script th:src="@{/javascript/jquery-2.1.1.min.js}" type="text/javascript"></script>
     <script th:src="@{/bootstrap/js/bootstrap.min.js}" type="text/javascript}"></script>
     <script type="text/javascript" th:src="@{/javascript/jstree.min.js}"></script>
     <script type="text/javascript" th:src="@{/javascript/template.js}"></script>
     <script th:src="@{/javascript/common.js}" type="text/javascript"></script>
     <script th:src="@{/javascript/global.js}" type="text/javascript"></script>
     <script th:src="@{/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script>-->


</head>
<body class="account-login col-2">
<div class="preloader loader" style="display: block; background:#f2f2f2;"></div>
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="top-left pull-left">
                        <div class="language">
                            <form action="#" method="post" enctype="multipart/form-data" id="language">
                                <div class="btn-group">

                                </div>
                            </form>
                        </div>
                        <div class="currency">
                            <form action="#" method="post" enctype="multipart/form-data" id="currency">
                                <div class="btn-group">

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="top-right pull-right">
                        <div id="top-links" class="nav pull-right">
                            <ul class="list-inline">
                                <li class="dropdown account"><a href="/index" title="My Account" class="  dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i><span>Mi Cuenta</span> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="login.html">Cerrar Sesion</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header-inner">
            <div class="col-sm-4 col-xs-6 header-left">
                <div class="shipping">

                </div>
            </div>
            <div class="col-sm-4 col-xs-12 header-middle">
                <div class="header-middle-top">
                    <div id="logo"> <img th:src="@{/image/logo.png}" title="E-Commerce" alt="E-Commerce" class="img-responsive" /> </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 header-right">

            </div>
        </div>
        <nav id="menu" class="navbar">
            <div class="nav-inner">

                <div class="navbar-collapse">
                    <ul class="main-navigation">
                        <li><a href="/equipos/form"   class="parent"  >Equipo</a> </li>
                        <li><a href="prestamo.html" class="parent"  >Prestamos</a> </li>
                        <li><a href="/Adeudos#" class="parent"  >Adeudos</a> </li>
                        <li><a href="#" class="active parent">Salones</a>
                            <ul>
                                <li><a href="/Salones#">Horarios</a></li>
                                <li><a href="cart.html">Agendar Salon</a></li>
                                <li><a href="checkout.html">Daños</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="active parent">Inventario</a>
                            <ul>
                                <li><a href="/ListaEquipo#">Equipo</a></li>
                                <li><a href="/ListaMaterial#">Harramientas</a></li>
                            </ul>
                        </li>
                        <li>  <a href="/user/index" class="active parent">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    <ul class="breadcrumb">
        <li><a href="/index"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Administrador</a></li>
        <li><a href="login.html">Prestamos</a></li>
    </ul>
    <div class="row">
        <div class="col-sm-3 hidden-xs column-left" id="column-left">
            <div class="column-block">
                 </div>
            </div>
        </div>
        <div class="col-sm-9" id="content">
		
            <div class="row" position=center>
			
                <center><div class="col-md-10">
                    <center>
                        <h1>Equipos</h1>

                        <center><div class="table-responsive" aling=center>

                            <center><table class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Etiqueta</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>

                                </tr>
                                </thead>

                            </table></center>


                        </div></center
						 <div class="col-md-10">
                    <center>
                        <h1>Herramientas</h1>

                        <div class="table-responsive">

                            <table class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Marca</th>
                                    <th>Nombre</th>

                                </tr>
                                </thead>

                            </table>
                        </div>
                    </center>

                </div>
                            </div>

<br><br><br>

                                <center><button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Regresar</button></center>
                            </a>
                        </div>
                    </center>

                </div>
            </div></center>

</header>
<div class="container">
    <ul class="breadcrumb">
        
    </ul>
    <div class="row">
        <div class="col-sm-3 hidden-xs column-left" id="cot">
            <div class="column-block">

            </div>
        </div>
        <div class="col-sm-9" >
            <div class="row">
                <!--<div class="col-md-10">
                    <center>
                        <h1>Lista de Prestamos</h1>

                        <div class="table-responsive">

                            <table class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th> Etiqueta</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>

                                </tr>
                                </thead>

                            </table>
                        </div>
                    </center>

                </div>-->
            </div>

        </div>

        <div class="col-sm-9" >
            <div class="row">
                <!--<div class="col-md-10">
                    <center>
                        <h1>Herramientas</h1>

                        <div class="table-responsive">

                            <table class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Marca</th>
                                    <th>Nombre</th>

                                </tr>
                                </thead>

                            </table>
                        </div>
                    </center>

                </div>-->
            </div>


    </div>
</div>

        </div>
    </div>
</div>

<div class="footer-bottom">
</div>

</body>
</html>